<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="2">
        <ion-title>WEROAD TRAVELS TEST</ion-title>
      </ion-col>      
    </ion-row>
  </ion-toolbar>
</ion-header>


<!-- ----------------------------------------------------------- -->

<ion-content>  
  <ion-card *ngFor="let travels of travels$ | async">
    <ion-card-header>
      <ion-card-title>{{ travels.slug }}</ion-card-title>
      <ion-card-subtitle>{{ travels.name }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>      
      <div>{{ travels.description }}</div>
      <div class="layout">Starting date: {{ travels.startingdate }} - Ending date: {{ travels.endingdate }}</div>
      <div class="layout">Price: {{ travels.price }}</div>
      <p>
        MOODS: 
        <label class="layout">Nature: {{ travels.moods_nature }}</label>
        -
        <label class="layout">Relax: {{ travels.moods_relax }}</label>
        -
        <label class="layout">Histroy: {{ travels.moods_history }}</label>
        -
        <label class="layout">Culture: {{ travels.moods_culture }}</label>
        -
        <label class="layout">Party: {{ travels.moods_party }}</label>
      </p>
    </ion-card-content>
  
    <ion-button (click)="openModal(travels)" color="success">Choose travel</ion-button>
  
  </ion-card>
</ion-content>